APP_VERSION = "

# log folder size in bytes
MAX_LOG_SIZE = ""

# app
APP_WIDTH = None
APP_HEIGHT = None
APPEARANCE_MODE = ""
COLOR_THEME = ""

# widgets
URL_ENTRY_WIDTH = None
THUMBNAIL_IMAGE_WIDTH = None
THUMBNAIL_IMAGE_HEIGHT = None

DOWNLOAD_BUTTON_COLOR = ""
DOWNLOAD_BUTTON_HOVER_COLOR = ""
DOWNLOAD_BUTTON_FONT_COLOR = ""